<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    <title>Yurl</title>
    <meta name="description" content="Yurl" />

    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />

    <script
      src="{{ url_for('static', filename='dashboard.js') }}"
      defer
    ></script>
  </head>

  <body>
    <div id="dashboard">
      <div id="header">
        <h1>Yurl</h1>
        <div>
          <h3>
            Signed in as
            <span style="text-decoration: underline">{{ g.username }}</span>
          </h3>
          <button id="sign-out">Sign Out</button>
        </div>
      </div>
      <div id="content">
        <form id="create-container">
          <h2>New Shortened URL</h2>
          <p id="message" class="hidden"></p>
          <div>
            <label for="url">URL:</label>
            <input
              type="text"
              id="url"
              name="url"
              placeholder="http://example.com"
              required
            />
          </div>
          <div>
            <label for="expiration">Expiration:</label>
            {% if config.MAX_LINK_EXPIRY == 0 %}
            <input type="checkbox" name="expiration-enable" checked />
            {% endif %}
            <input
              type="datetime-local"
              id="expiration"
              name="expiration"
              step="60"
              min="{{ (datetime.now() + timedelta(seconds=config.LINK_EXPIRY)).timestamp() }}"
              value="{{ (datetime.now() + timedelta(seconds=config.LINK_EXPIRY)).timestamp() }}"
              max="{{ (datetime.now() + timedelta(seconds=config.MAX_LINK_EXPIRY)).timestamp() }}"
            />
          </div>
          <button type="submit">Create</button>
        </form>
        <div id="links">
          <h3>&nbsp;</h3>
          <h3>ID</h3>
          <h3>URL</h3>
          <h3>Created</h3>
          <h3>Expires</h3>
          {% for link in links %}
          <span class="delete" data-id="{{ link.id }}">
            <svg
              height="800px"
              width="800px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 457.503 457.503"
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M381.575,57.067h-90.231C288.404,25.111,261.461,0,228.752,0C196.043,0,169.1,25.111,166.16,57.067H75.929
			c-26.667,0-48.362,21.695-48.362,48.362c0,26.018,20.655,47.292,46.427,48.313v246.694c0,31.467,25.6,57.067,57.067,57.067
			h195.381c31.467,0,57.067-25.6,57.067-57.067V153.741c25.772-1.02,46.427-22.294,46.427-48.313
			C429.936,78.761,408.242,57.067,381.575,57.067z M165.841,376.817c0,8.013-6.496,14.509-14.508,14.509
			c-8.013,0-14.508-6.496-14.508-14.509V186.113c0-8.013,6.496-14.508,14.508-14.508c8.013,0,14.508,6.496,14.508,14.508V376.817z
			 M243.26,376.817c0,8.013-6.496,14.509-14.508,14.509c-8.013,0-14.508-6.496-14.508-14.509V186.113
			c0-8.013,6.496-14.508,14.508-14.508c8.013,0,14.508,6.496,14.508,14.508V376.817z M320.679,376.817
			c0,8.013-6.496,14.509-14.508,14.509c-8.013,0-14.509-6.496-14.509-14.509V186.113c0-8.013,6.496-14.508,14.509-14.508
			s14.508,6.496,14.508,14.508V376.817z"
                  />
                </g>
              </g></svg
          ></span>
          <a href="/{{ link.id }}" target="_blank">{{ link.id }}</a>
          <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
          <span class="timestamp">{{ link.creation_date }}</span>
          <span class="timestamp">{{ link.expiration_date }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
